/* Generic pane rules */
html{
	margin: 0;
	padding: 0;
}


body{
	font-family: 'Segoe UI Light', 'Segoe UI', 'Microsoft YaHei', 'Lucida Grande',Verdana, Helvetica, Arial, Sans-serif;
	font-size: 12px;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 800px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}


.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.align-left {
	float: left;
}

.no-selection {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.header.row { height: 100px; top: 0; }
.body.row { top: 100px; bottom: 20px; }
.footer.row {height:20px; bottom: 0; }

#wrapper {
	background: transparent;
}

#footer {
	margin: 0;
	padding: 0;
}

#header {
	/* background: green; */
}

#content {
	/*background: blue;*/
	overflow-x: hidden;
	overflow-y: hidden;
}



#titleblock {
	float: left;
	padding: 25px 0 40px 100px;
	margin: 0;
	width: 60%;
}

#titleblock .titletext {
	width: 250px;
	overflow: hidden;
}

#contentinner {
  position: absolute;
  margin: 30px 100px 10px 100px;
  z-index: 1;
}


#titleblock h1 {
	color: white;
	font-size: 55px;
	line-height: 65px;
	font-weight: normal;
	margin: 0;
	cursor: pointer;
}


#searchbox {
	float: left;
	height: 65px;
	width:  50%;
	margin-top: 17px;
}

#searchbox .border {
	background: white;
	height: 24px;
	width:  80%;
	font-size: 16px;
	font-weight: bold;
	color: #505050;
	border-style: solid;
	border-width: 1px;
	border-color: 0x454545;
	float: left;
	padding: 2px 7px 2px 7px;
}

#searchbox .btn {
	float: left;
	height: 29px;
	margin-left: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	background: #048f44;
	color: white;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;	
}

#infoblock {
	float: right;
	text-align: right;
	margin: 25px 100px 20px 20px;
	color: white;
}

#user-image {
	width: 60px;
	height: 60px;
}

#infoblock h1 {
	margin: 0 10px 5px 0;
	cursor: pointer;
}

#infoblock p {
	margin: 0 10px 0 0;
	font-size: 13px;
}

.metroblock {
	float: left;
	position: relative;
	/*background: red;*/
	padding: 0;
	margin-right: 40px;
}

.metrosubblock {
	display: inline-block;
	position: absolute;
	padding: 0;
	overflow: hidden;
	margin: 0;
	color: white;
	cursor: default;
}

.metrosubblock-over {
	border-style: solid;
	border-width: 2px;
	border-color: white;
}

#main-scroll {
	background: white;
	opacity: 0.3;
	height: 100%;
}

.main-scroll-bar {
	background: black;
}

.metro-title-block-text {
	display: table;
	padding: 0;
}

.metro-title-block-text-child {
	text-align:center;
	font-size: 50px;
  	display: table-cell;
    vertical-align: middle;
}

.metro-title-block-logo {
	display: table;
	position: relative;
	text-align:center;
}

.metro-title-block-logo-child {
  	display: table-cell;
    vertical-align: middle;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.metro-title-block-logo-child-text {
	font-size: 14px;
	position: absolute;
	left: 20px;
	bottom: 10px;	
}

.metro-block-content-w1-0 {
	
}

.metro-block-content-w1-0-child {
	margin: -5px 0 0 -5px;
}

.video-title {
	word-break: break-all;
	word-wrap: break-word;
	font-weight: 100;
	font-size: 14px;	
}

.video-info {
	font-size: 12px;
	font-weight: normal;
}

.metro-block-content-w1-1 {
	margin: 10px;
}

.metro-block-content-w1-1 p {
	margin-top: 3px;
	margin-bottom: 4px;
}

.metro-block-content-w2-0 {
	margin: 10px;
	overflow: hidden;
}

.metro-block-content-w2-0-pv {
	border: 2px solid #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;	
	margin-right: 8px;
}

.metro-block-content-w2-0-title {
	line-height: 18px;
	height: 40px;
}

.metro-block-content-w2-0-info {
	line-height: 18px;
	height: 40px;
	width: 183px;
	display: inline-block;
}

.metro-block-content-w2-0-info-sub {
	float: left;
	width: 80px;
	margin-top: 15px;
	margin-right: 5px;
}

.metro-block-content-w2-0-desc {
	float: left;
	line-height: 20px;
	height: 40px;
}



/* auto generated by gencss.py */
.metroblkcolor0{
	background: #00ACDC;
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#00ACDC), to(#00BFE3));
	background: -webkit-linear-gradient(left, #00ACDC, #00BFE3);
	background-image: -moz-linear-gradient(left, #00ACDC,#00BFE3);
	background-image: -ms-linear-gradient(left, #00ACDC,#00BFE3);
	background-image: -o-linear-gradient(left, #00ACDC,#00BFE3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#00ACDC, endColorStr=#00BFE3, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ACDC, endColorstr=#00BFE3, GradientType=1)";
}

.metroblkcolor1{
	background: #E65E20;
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#E65E20), to(#EB7427));
	background: -webkit-linear-gradient(left, #E65E20, #EB7427);
	background-image: -moz-linear-gradient(left, #E65E20,#EB7427);
	background-image: -ms-linear-gradient(left, #E65E20,#EB7427);
	background-image: -o-linear-gradient(left, #E65E20,#EB7427);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#E65E20, endColorStr=#EB7427, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E65E20, endColorstr=#EB7427, GradientType=1)";
}

.metroblkcolor2{
	background: #DA8515;
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#DA8515), to(#E2A219));
	background: -webkit-linear-gradient(left, #DA8515, #E2A219);
	background-image: -moz-linear-gradient(left, #DA8515,#E2A219);
	background-image: -ms-linear-gradient(left, #DA8515,#E2A219);
	background-image: -o-linear-gradient(left, #DA8515,#E2A219);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#DA8515, endColorStr=#E2A219, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DA8515, endColorstr=#E2A219, GradientType=1)";
}

.metroblkcolor3{
	background: #AA183C;
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#AA183C), to(#BF1C49));
	background: -webkit-linear-gradient(left, #AA183C, #BF1C49);
	background-image: -moz-linear-gradient(left, #AA183C,#BF1C49);
	background-image: -ms-linear-gradient(left, #AA183C,#BF1C49);
	background-image: -o-linear-gradient(left, #AA183C,#BF1C49);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#AA183C, endColorStr=#BF1C49, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA183C, endColorstr=#BF1C49, GradientType=1)";
}

.metroblkcolor4{
	background: #5235AC;
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#5235AC), to(#663FC0));
	background: -webkit-linear-gradient(left, #5235AC, #663FC0);
	background-image: -moz-linear-gradient(left, #5235AC,#663FC0);
	background-image: -ms-linear-gradient(left, #5235AC,#663FC0);
	background-image: -o-linear-gradient(left, #5235AC,#663FC0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#5235AC, endColorStr=#663FC0, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5235AC, endColorstr=#663FC0, GradientType=1)";
}

.metroblkcolor5{
	background: #54AF0E;
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#54AF0E), to(#68C210));
	background: -webkit-linear-gradient(left, #54AF0E, #68C210);
	background-image: -moz-linear-gradient(left, #54AF0E,#68C210);
	background-image: -ms-linear-gradient(left, #54AF0E,#68C210);
	background-image: -o-linear-gradient(left, #54AF0E,#68C210);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#54AF0E, endColorStr=#68C210, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#54AF0E, endColorstr=#68C210, GradientType=1)";
}

.metroblkcolor6{
	background: #014A5B;
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#014A5B), to(#025A70));
	background: -webkit-linear-gradient(left, #014A5B, #025A70);
	background-image: -moz-linear-gradient(left, #014A5B,#025A70);
	background-image: -ms-linear-gradient(left, #014A5B,#025A70);
	background-image: -o-linear-gradient(left, #014A5B,#025A70);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#014A5B, endColorStr=#025A70, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#014A5B, endColorstr=#025A70, GradientType=1)";
}


