/* Generic pane rules */
html{
	margin: 0;
	padding: 0;
}


body{
	font-family: 'Segoe UI Light', 'Segoe UI', 'Osaka', 'Lucida Grande',Verdana, Helvetica, Arial, Sans-serif;
	font-size: 12px;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 800px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}


.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.align-left {
	float: left;
}

.no-selection {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.header.row { height: 100px; top: 0; }
.body.row { top: 100px; bottom: 20px; }
.footer.row {height:20px; bottom: 0; }

#wrapper {
	background: transparent;
}

#footer {
	margin: 0;
	padding: 0;
}

#header {
	/* background: green; */
}

#content {
	/*background: blue;*/
	overflow-x: hidden;
	overflow-y: hidden;
}



#titleblock {
	float: left;
	padding: 25px 0 40px 100px;
	margin: 0;
}

#contentinner {
  position: absolute;
  margin: 30px 100px 10px 100px;
  z-index: 1;
}


#titleblock h1 {
	color: white;
	font-size: 55px;
	font-weight: normal;
	margin: 0;
}

#infoblock {
	float: right;
	text-align: right;
	margin: 25px 100px 20px 20px;
	color: white;
}

#user-image {
	width: 60px;
	height: 60px;
}

#infoblock h1 {
	margin: 0 10px 5px 0;
}

#infoblock p {
	margin: 0 10px 0 0;
}

.metroblock {
	float: left;
	position: relative;
	/*background: red;*/
	padding: 0;
	margin-right: 40px;
}

.metrosubblock {
	display: inline-block;
	position: absolute;
	padding: 0;
	overflow: hidden;
	margin: 0;
}

#main-scroll {
	background: white;
	opacity: 0.3;
	height: 100%;
}

.main-scroll-bar {
	background: black;
}


